:root {
    --color-1: #E63946;
    --color-2: #F1FAEE;
    --color-3: #A8DADC;
    --color-4: #457B9D;
    --color-5: #1D3557;
    --half-black: rgba(0, 0, 0, 0.5);
    --console-font: 'Courier New', Courier, monospace;
    --button: var(--color-3);
    --button-border: var(--color-4);
    --button-hover: var(--color-4);
    --button-border-hover: var(--color-5);
    --input-border: var(--color-3);
    --input-background: var(--color-2);
    --background: var(--color-2);
    --form-background: var(--color-2);
}

body {
    background-color: var(--background);
}

.popup {
    background: var(--half-black);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.close {
    position: relative;
    left: 380px;
    margin: 0 0 10px 0;
    font-family: var(--console-font);
    cursor: pointer;
}

p {
    max-width: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(6, 66px);
    padding: 20px;
    background-color: var(--form-background);
    box-shadow: 0 0 15px 0 var(--half-black);
}

form label {
    grid-column: 1 / 3;
    align-self: center;
    font-family: var(--console-font);
}

form input {
    grid-column: 3 / 7;
    border-radius: 15px;
    border-color: var(--input-border);
    background-color: var(--input-background);
    border-style: solid;
    padding: 5px;
    margin: 5px 0;
    font-family: var(--console-font);
}

form button {
    grid-column-start: span 6;
    background-color: var(--button);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--button-border);
    cursor: pointer;
    font-family: var(--console-font);
    padding: 5px;
    margin-top: 10px;
}

form button:hover {
    background-color: var(--button-hover);
    border-color: var(--button-border-hover);
}

#input2:valid {
    border: solid green;
}

#input2 {
    border: solid red;
}
